<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style_about.css" />
</head>

<body>
<!-- About us header -->
    <div class="header">
        <div class = "title">
            <h1>About Us</h1>
        </div>
        <div class = "menu">
            <a href="/menu" class="menu-link">
                <button class = "menu-btn">
                    <div class = "menu-label">Menu</div>
                    <div class = "menu-icon"></div>
                    <div class = "menu-icon-inner"></div>
                </button>
            </a>
        </div>
    </div>
<!-- About us text -->
    <div class = "body-chunk">
        <div class = "text-box">
            <p class = "text-chunk">
                We are a couple of Middlebury College Seniors 
                looking to develop our understanding of machine 
                learning and web development for our senior seminar 
                project. We seek to properly implement a model using 
                the guidance and knowledge of published works in the 
                same field to bring an accessible analysis for 
                chest x-rays.
            </p>
        </div>
    </div>
</body>

</html>