<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style_about.css" />
</head>

<body>
<!-- About us header -->
    <div class="header">
        <div class = "title">
            <h1>About Us</h1>
        </div>
        <div class = "menu">
            <a href="/menu" class="menu-link">
                <button class = "menu-btn">
                    <div class = "menu-label">Menu</div>
                    <div class = "menu-icon"></div>
                    <div class = "menu-icon-inner"></div>
                </button>
            </a>
        </div>
    </div>
<!-- About us text -->
    <section class = "body-boxes">
        <div id = "intro-text">
            <p>
                We are a couple of Middlebury College Seniors 
                looking to develop our understanding of machine 
                learning and web development for our senior seminar 
                project. We seek to properly implement a model using 
                the guidance and knowledge of published works in the 
                same field to bring an accessible analysis for 
                chest x-rays.
            </p>
        </div>
        <div id = "steven-info">
            <!--Image for steven goes here-->
            <p>
                Steven Shi
            </p>
        </div>
        <div id = "luka-info">
            <!--Image for luka goes here-->
            <p>
                Luka Becerra
            </p>
        </div>
    </section>
</body>

</html>