<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account</title>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style_account.css" />
</head>

<body>
    <!-- About us header -->
        <div class="header">
            <div class = "title">
                <h1>User Account Page</h1>
            </div>
            <div class = "menu">
                <a href="/menu" class="menu-link">
                    <button class = "menu-btn">
                        <div class = "menu-label">Menu</div>
                        <div class = "menu-icon"></div>
                        <div class = "menu-icon-inner"></div>
                    </button>
                </a>
            </div>
        </div>
    <!-- About us text -->
        <div class = "body-chunk">
            <div class = "text-box">
                <p class = "text-chunk">
                    Here users can access and update their personal 
                    information and any uploaded files with results.
                </p>
                <div class = "user-login-form">
                    <form action="/action_page.php">
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  
                      <label for="country">Country</label>
                      <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                      </select>
                    
                      <input type="submit" value="Submit">
                    </form>
                  </div>
            </div>
        </div>
    </body>

</html>