<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account</title>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style_account.css" />
</head>

<body>

    <h1>About Page</h1>
</body>

</html>