<!DOCTYPE html>
<html lang="en">

<head>
<title>Chest X-Ray Project</title>
<meta charset="UTF-8">
<meta name="Viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>

    <div class="header">
        <h1>Chest X-Ray AI Diagnosis App</h1>
    </div>


    <div class="navbar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="/about" class="right">About</a>
    </div>
    

    <div class="row">
        <div class="side">
            <p>Diagnosis Info display</p>
        </div>
        <div class="main">
            <form action="/action_page.php">
                <input type="file" id="myFile" name="filename"><br><br>
                <input type="submit">
            </form>
        </div>
    </div>
  
    <div class="footer">
        <h2>Footer</h2>
    </div> 
    
    <script src="script.js"></script>
</body>
</html> 