<!DOCTYPE html>
<html lang="en">

<head>
<title>Chest X-Ray Project</title>
<meta charset="UTF-8">
<meta name="Viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/style_main.css" />
</head>

<body>

    <div class="header">
        <div class = "title">
            <h1>CS701 Senior Project</h1>
            <h2> by Steven Shi and Luka Becerra</h2>
        </div>
        <div class = "menu">
            <a href="/menu" class="menu-link">
                <button class = "menu-btn">
                    <div class = "menu-label">Menu</div>
                    <div class = "menu-icon"></div>
                    <div class = "menu-icon-inner"></div>
                </button>
            </a>
        </div>
    </div>
    

    <div class="row">
        <div class="side">
            <p>Diagnosis Info display</p>
            <p id="diag_info"> Diagnosis information will be displayed here...</p>
        </div>
        <div class="main">
            <!-- <div class="upload-div">
                <input type="file" id="img-selector" name="image" accept=".jpg, .jpeg, .png">
                <button onclick="predict()">Predict</button>
            </div> -->
            <form class="mt" action="/predict" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="image" id="input-image" accept=".jpg, .jpeg, .png">
                </div>
                <button type="submit" class="btn">Predict</button>
                <button onclick="resetImage()">Reset</button>
            </form>
            <div class="img-display">
                <img id="output">
            </div>
            
        </div>
    </div>
    <!-- Replace this with your image. Make sure CORS settings allow reading the image! -->
    <!--<img id="img" src="cat.jpg"></img>-->
    <div class="footer">
        <h2>Footer</h2>
    </div> 
    
    <!-- Load TensorFlow.js. This is required to use MobileNet. -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.1"> </script>
    <!-- Load the MobileNet model. -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>
    <script src="script_main.js"></script>
</body>
</html>