<!DOCTYPE html>
<html lang="en">

<head>
<title>Chest X-Ray Project</title>
<meta charset="UTF-8">
<meta name="Viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>

    <div class="header">
        <h1>Chest X-Ray AI Diagnosis App</h1>
    </div>


    <div class="navbar">
        <a href="/about" class="right">About</a>
    </div>
    

    <div class="row">
        <div class="side">
            <p>Diagnosis Info display</p>
        </div>
        <div class="main">
            <div class="upload-div">
                <input type="file" id="img-selector" name="image" accept=".jpg, .jpeg, .png">
                <button onclick="resetImage()">Reset</button>
            </div>
            <button onclick="predict()">Predict</button>
            <!-- <form method="post" action="/upload" enctype="multipart/form-data">
                <label for="file">Choose chest x-ray image to upload</label><br><br>
                <input type="file" id="img-selector" name="image" accept=".jpg, .jpeg, .png"><br><br>
                <input type="submit" value="Run Inference"/>
            </form> -->
            <div class="img-display">
                <img id="output">
            </div>
            
        </div>
    </div>
    <!-- Replace this with your image. Make sure CORS settings allow reading the image! -->
    <!--<img id="img" src="cat.jpg"></img>-->
    <div class="footer">
        <h2>Footer</h2>
    </div> 
    
    <script src="script.js"></script>
</body>
</html> 

<!-- Load TensorFlow.js. This is required to use MobileNet. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.1"> </script>
<!-- Load the MobileNet model. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>

<!-- Place your code in the script tag below. You can also use an external .js file -->
<!-- <script>

</script> -->