<!DOCTYPE html>
<html lang="en">

<head>
<title>Chest X-Ray Project</title>
<meta charset="UTF-8">
<meta name="Viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/style_main.css" />
</head>

<body>

    <div class="header">
        <div class = "title">
            <h1>CS701 Senior Project</h1>
            <h2> by Steven Shi and Luka Becerra</h2>
        </div>
        <div class = "menu">
            <a href="/menu" class="menu-link">
                <button class = "menu-btn">
                    <div class = "menu-label">Menu</div>
                    <div class = "menu-icon"></div>
                    <div class = "menu-icon-inner"></div>
                </button>
            </a>
        </div>
    </div>
    

    <div class="row">
        <div class="side">
            <p>Diagnosis Info display</p>
            <p id="diag_info"> Diagnosis information will be displayed here...</p>
        </div>
        <div class="main">
            <form class="mt" id="image-frm" enctype="multipart/form-data" action="#">
                <div class="form-group">
                    <input type="file" name="image" id="input-image" accept=".jpg, .jpeg, .png">
                </div>
                <button class="btn" onclick="postImage()">Predict</button>
                <button onclick="resetImage()">Reset</button>
            </form>
            <div class="img-display">
                <img id="output">
            </div>
            
        </div>
    </div>

    <div class="footer">
        <h2>Footer</h2>
    </div> 
    <script src="script_main.js"></script>
</body>
</html>