<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style_menu.css" />
</head>

<body>

    <div id = "menu">
        <div id = "menu-items">
            <a href="/main" class="menu-item">Run Test</a>
            <a href="/account" class="menu-item">Account</a>
            <a href="/about" class="menu-item">About Us</a>
        </div>
        <div id = "menu-background-pattern"></div>
        <div id = "menu-background-image"></div>
    </div>
    <script src = "script_menu.js"></script>
</body>

</html>