body {
    background-color: rgb(20,20,20);
    margin: 0px;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;    
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: Georgia, 'Times New Roman', Times, serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

/* creating background pattern */
#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image:radial-gradient(
        rgb(2255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

/* background pattern hover effect for menu item */
#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position:  0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position:  0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position:  0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position:  0% -100%;
}

/* creating background image style */
#menu-background-image {
    height: 100%;
    width: 100%;

    background-image: url("../cat.jpg");

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 100vmax;
    opacity: 0.10;
}

/* Moves with the mouse hover over menu items creates paralax effect with the background pattern*/
#menu[data-active-index="0"] > #menu-background-image {
    background-position:  35%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position:  45%;
}

#menu[data-active-index="2"] > #menu-background-image {
    background-position:  55%;
}

#menu[data-active-index="3"] > #menu-background-iamge {
    background-position:  65%;
}