body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
  padding: 80px;
  text-align: left;
  background: rgb(20,20,20);
  /*color: black;*/
}

.header h1{
  color: white;
  font-size: 75px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.header h2{
  color: #1abc9c;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 80%;
}

.menu-icon {
  color: white;
  font-size: 20px;
  float: right;
  text-decoration: none;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link
.navbar a.right {
  float: right; Float a link to the right 
}

Change color on hover/mouse-over 
.navbar a:hover {
  background-color: #ddd;  Grey background color 
  color: black;  Black text color 
}
*/
/* Ensure proper sizing */
* {
  box-sizing: border-box;
}


/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  height: 55vw;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  color: white;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex: 30%; /* Set the width of the sidebar */
  background-color: #303030; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: #16a084; /* White background color */
  padding: 20px; /* Some padding */
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #0b5243; /* Grey background */
  font-size: 10px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}