:root {
  --bg-color: #303030;
  --menu-trans-time: 700ms;
}

body {
  background-color: var(--bg-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 70px;
  background: rgb(20,20,20);
}

.title {
  text-align: left;
}

.header h1{
  color: white;
  font-size: 75px;
}

.header h2{
  color: #1abc9c;
  font-size: 30px;
  opacity: 80%;
}

.menu {
text-align: right;
}

.menu-link {
  text-decoration: none;
}

.menu-btn {
  display: inline-flex;
  padding: 0;
  font-size: 20px;
  background: 0 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  position: relative;
}

.menu-label {
  grid-column: 1;
  font: inherit;
  margin-right: 35px;
  color: white;

  transition: opacity var(--menu-trans-time),
    transform var(--menu-trans-time);
}

/* .menu-icon */
.menu-icon {
  grid-column: 2;
  top: 0rem;
  right: 0;
  width: 1.625rem;
  height: 1.625rem;
  border: 0.0625rem solid #fff;
  transform: rotate(45deg);
  position: absolute;

  transition: opacity var(--menu-trans-time),
    transform var(--menu-trans-time);
}

.menu-icon-inner {
  grid-column: 2;
  top: 0rem;
  right: 0;
  width: 1.625rem;
  height: 1.625rem;
  border: 0.0625rem solid #fff;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;

  transition: opacity var(--menu-trans-time),
    transform var(--menu-trans-time),
    background-color var(--menu-trans-time);
}

.menu-btn:hover > .menu-label {
  opacity: 0.2;
  transform: translate(-30%, 0px);
}

.menu-btn:hover > .menu-icon {
  opacity: 0.2;
  transform: rotate(45deg) scale(2, 2);
}

.menu-btn:hover > .menu-icon-inner {
  transform: rotate(45deg) scale(0.15, 0.15);
  background-color: white;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link
.navbar a.right {
  float: right; Float a link to the right 
}

Change color on hover/mouse-over 
.navbar a:hover {
  background-color: #ddd;  Grey background color 
  color: black;  Black text color 
}
*/
/* Ensure proper sizing */
* {
  box-sizing: border-box;
}


/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  height: 55vw;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  color: white;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex: 30%; /* Set the width of the sidebar */
  background-color: #303030; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: #16a084; /* White background color */
  padding: 20px; /* Some padding */
}

.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #0b5243; /* Grey background */
  font-size: 10px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}